.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    padding: 10px;
    margin-bottom: 16px;
    border-bottom: 1px solid black;
}
.link {
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: 700;
}
.link:hover {
    color: white;
    background-color: rgb(87, 123, 190);
}
.link:active {
    color: orangered;
}