.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 18px;
    padding: 15px;
    margin-bottom: 28px;
    border-bottom: 1px solid black;
}
